<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Janitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Janitor.Properties.Settings>
            <setting name="GeralFlagTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeralFlagClocker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeralFlagBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeralPathBackup" serializeAs="String">
                <value>C:\Apps\Infinite\Janitor\bin\backup_diario.bat</value>
            </setting>
            <setting name="GeralLastBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="GeralCheckProgram" serializeAs="String">
                <value>C:\Apps\Infinite\Janitor\bin\check_tarefas.bat</value>
            </setting>
            <setting name="MT5FlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MT5FlagNotClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MT5PathGenial" serializeAs="String">
                <value>C:\Apps\B3\MetaTrader 5\terminal64.exe</value>
            </setting>
            <setting name="MT5PathModal" serializeAs="String">
                <value>C:\Apps\B3\ModalMais MetaTrader 5\terminal64.exe</value>
            </setting>
            <setting name="MT5PathXmglob" serializeAs="String">
                <value>C:\Apps\B3\XM Global MT5\terminal64.exe</value>
            </setting>
            <setting name="ColetFlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColetPathProgram" serializeAs="String">
                <value>C:\Apps\Infinite\Colethon\bin\startup.bat</value>
            </setting>
            <setting name="ColetPathSignal" serializeAs="String">
                <value>D:\Publico\Colethon\safeToDelete.tmp</value>
            </setting>
            <setting name="ColetLastExecute" serializeAs="String">
                <value />
            </setting>
            <setting name="LotoFlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LotoPathProgram" serializeAs="String">
                <value>C:\Apps\Infinite\Lothon\bin\palpites.bat</value>
            </setting>
            <setting name="LotoPathSignal" serializeAs="String">
                <value>C:\Apps\Infinite\Lothon\data\safeToDelete.tmp</value>
            </setting>
            <setting name="LotoLastExecute" serializeAs="String">
                <value />
            </setting>
            <setting name="QuantFlagProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuantPathProgram" serializeAs="String">
                <value>C:\Apps\Infinite\Quanthon\bin\startup.bat</value>
            </setting>
            <setting name="QuantPathSignal" serializeAs="String">
                <value>C:\Apps\Infinite\Quanthon\data\safeToDelete.tmp</value>
            </setting>
            <setting name="QuantLastExecute" serializeAs="String">
                <value />
            </setting>
        </Janitor.Properties.Settings>
    </userSettings>
</configuration>