<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Janitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Janitor.Properties.Settings>
            <setting name="GeralFlagTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeralFlagClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeralFlagNotClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MT5FlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MT5PathGenial" serializeAs="String">
                <value />
            </setting>
            <setting name="MT5PathModal" serializeAs="String">
                <value />
            </setting>
            <setting name="MT5PathXmglob" serializeAs="String">
                <value />
            </setting>
            <setting name="InfiFlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfiPathProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="InfiLastExecute" serializeAs="String">
                <value />
            </setting>
            <setting name="QuantFlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuantPathProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="QuantLastExecute" serializeAs="String">
                <value />
            </setting>
            <setting name="LotoFlagProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LotoPathProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="LotoLastExecute" serializeAs="String">
                <value />
            </setting>
        </Janitor.Properties.Settings>
    </userSettings>
</configuration>